{% extends "base.html" %}

{% block content %}
  <h1>Edit Menu Item</h1>
  
  <div class="pane">
    <form method="post">
      <div>
        <p>Name:</p>
        <input type="text" size=30 name="name" placeholder="{{item.name}}">
      </div>
      <div>
        <p>Description:</p>
        <textarea cols=28 name="description" placeholder="{{item.description}}"></textarea>
      </div>
      <div>
        <p>Price:</p>
        <input type="text" size=30 name="price" placeholder="{{item.price}}">
      </div>
      <div>
        <p>Course:</p>
        <p>
          <label>
            <input type="radio" name="course" value="Appetizer" {% if item.course == 'Appetizer' %} checked {% endif %}>
            Appetizer
          </label>
        </p>
        <p>
          <label>
            <input type="radio" name="course" value="Entree" {% if item.course == 'Entree' %} checked {% endif %}>
            Entree
          </label>
        </p>
        <p>
          <label>
            <input type="radio" name="course" value="Dessert" {% if item.course == 'Dessert' %} checked {% endif %}>
            Dessert
          </label>
        </p>
        <p>
          <label>
            <input type="radio" name="course" value="Beverage" {% if item.course == 'Beverage' %} checked {% endif %}>
            Beverage
          </label>
        </p>
      </div>
      <input type="submit" value="Edit">
    </form>

    <a href="{{url_for('showMenu', restaurant_id=restaurant_id)}}">Cancel</a>
  </div>
{% endblock %}