<html>
<body>

	<h1>New Menu Item</h1>
	<form action="#" method="post">
		<div>
			<p>Name:</p>
			<input type="text" size=30 name="name">
		</div>
		<div>
			<p>Description:</p>
			<input type="text" size=30 name="description">
		</div>
		<div>
			<p>Price:</p>
			<input type="text" size=30 name="price">
		</div>
		<div>
			<p>Course:</p>
			<p>
				<label>
					<input type="radio" name="course" value="Appetizer">
					Appetizer
				</label>
			</p>
			<p>
				<label>
					<input type="radio" name="course" value="Entree">
					Entree
				</label>
			</p>
			<p>
				<label>
					<input type="radio" name="course" value="Dessert">
					Dessert
				</label>
			</p>
			<p>
				<label>
					<input type="radio" name="course" value="Beverage">
					Beverage
				</label>
			</p>
		</div>
		<input type="submit" value="Create">
	</form>

</body>
</html>