<html>
<body>

	<h1>Restaurants</h1>

	<a href="{{url_for('newRestaurant')}}">Create New Restaurant</a>

	{% if restaurants %}
	<ul>
		{% for restaurant in restaurants %}
		<li>
			<p>{{restaurant.name}}</p>
			<p> {{restaurant.description}}</p>
			<a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a>
			<a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>There are currently no restaurants</p>
	{% endif %}

</body>
</html>